.container {
  animation: fadeIn 2s linear forwards;
}
.wrapper {
  position: relative;
  width: 171px;
  top: 80px;
  left: 50px;
}
.logo_text {
  position: absolute;
  top: 0;
  left: 0;
}
.logo_img {
  position: absolute;
  bottom: 0;
  right: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
