/* 로그인 페이지 헤더 관련 */
.login_header {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_logo {
  width: 100px;
  height: 120px;
}

/* 홈페이지 헤더 관련 */
.home_header {
  width: 100%;
  height: 70px;
  padding: 23px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.title {
  font-size: 20px;
  font-weight: 700;
}
.add_btn {
  width: 24px;
  height: 24px;
  margin-left: auto;
}

/* 카페 상세페이지 헤더 관련 */
.detail_header {
  height: 40px;
  display: flex;
}
.detail_header {
  width: 100%;
  height: auto;
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_img {
  width: 20px;
  height: 20px;
}
.img_btn {
  width: 20px;
  height: 20px;
}
.back_btn {
  margin-right: 30px;
}
.btn_wrapper {
  width: 50px;
  display: flex;
  gap: 10px;
}
.subscribe_btn {
  margin-left: auto;
}
